.button{
    height:70px;
    width:70px; 
    position: relative;
    border:6px solid;
    border-radius:35px;
    cursor:pointer;
    margin-right:30px;
    transition: 0.2s ease-out;

    &:hover{
        transform: scale(1.3);
        transition: 0.2s ease-in;
    }
}