/* .form {
   max-width: 841px; 
  margin: auto;
} */

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 4px;
  display: block;
}

.input {
  height: 46px;
  width: 100%;
  outline: 0;
  border: 0;
  border-left: 6px solid #7D58FE;
  border:1px solid rgb(232,232,232);
  padding: 0 14px;
  border-radius: 4px;
  background-color: rgb(244,244,244);
  margin-bottom: 20px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02); */
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.footer {
    height: 80px;
    border-top: 1px solid gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
  }
  
  .flex{
      width: 100%;
      display:flex; 
      justify-content: space-between;
      align-items: center;
      height:80px;
  }
  
  .button {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: #7d58fe;
    border-radius: 4px;
    cursor:pointer;
    
    &:hover{
      background-color:#222;
    }
  }
  
  